/* SETUP */

#front-page {
    max-width: 1140px;
    margin: 0 auto;
    padding: var(--gap);
}

#front-page img {
    width: 100%;
}

.article-category {
    font-family: var(--sans);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: var(--gray);
}

.article-meta {
    font-size: 14px;
    margin-bottom: var(--gap);
    display: block;
}

.article-excerpt {
    margin: 0;
    font-size: 16.5px;
}

section {
    margin-bottom: var(--gap);
}

section:last-child {
    margin-bottom: 0;
}

/* DENSE */

section.dense {
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-gap: var(--gap);
}

.dense-left {
    display: grid;
    grid-gap: var(--gap);
}

.dense-left-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap);
}

.small-item {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: var(--gap);
    align-items: center;
    color: black;
    text-decoration: none;
}

.small-item-title {
    font-family: var(--font);
    font-size: 16px;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}

.small-item-title .article-category {
    margin-right: 5px;
}

.small-item:hover > .small-item-title {
    opacity: var(--opacity);
}

.dense-left-bottom {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-gap: var(--gap);
    color: black;
    text-decoration: none;
    align-items: center;
}

.dense-left-bottom:hover .dense-title {
    opacity: var(--opacity);
}

.dense-title {
    margin-top: var(--small-gap);
    margin-bottom: 10px;
    padding: 0;
    transition: all 0.2s;
    font-style: italic;
}

@media all and (max-width: 1000px) {
    .dense-right {
        display: none;
    }
    section.dense {
        display: block;
    }
}

@media all and (max-width: 700px) {
    .dense-image {
        margin-bottom: var(--small-gap);
    }
    .dense-left-top {
        display: none;
    }
    .dense-left-bottom {
        display: block;
    }
}

/* ROW */
.row-inner,
.row.three-columns > .row-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap);
}

.row.row-background {
    background-color: var(--pale);
    padding: var(--gap);
    padding-bottom: calc(var(--gap) * 1.25);
    padding-top: calc(var(--gap) / 1.25);
}

.row.row-background.alert-background {
    background-color: var(--pale-accent);
}

.row.two-columns > .row-inner {
    grid-template-columns: repeat(2, 1fr);
}

.row.four-columns > .row-inner {
    grid-template-columns: repeat(4, 1fr);
}

.row.five-columns > .row-inner {
    grid-template-columns: repeat(5, 1fr);
}

.row-item {
    color: black;
    text-decoration: none;
    height: fit-content;
}

.row-item:hover > .row-title {
    opacity: var(--opacity);
}

.row-title {
    margin: var(--small-gap) 0;
    padding: 0;
    font-size: 24px;
    font-family: var(--display-alt);
    transition: all 0.2s;
}

.section-header {
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 1em;
    margin-bottom: calc(var(--small-gap) + 4px);
    white-space: nowrap;
}

@media all and (max-width: 600px) {
    .section-header {
        white-space: normal;
    }
}

@media all and (max-width: 400px) {
    .section-header:after {
        content: none!important;;
    }
}

.section-header:after {
    content: '';
    width: 100%;
    height: 2px;
    margin-left: var(--small-gap);
    background-color: var(--accent);
    
    margin-top: auto;
    margin-bottom: 4.3px;
}

.section-header.black-line:after {
    background-color: black;
}

@media all and (max-width: 850px) {
    .row > .row-inner {
        grid-template-columns: repeat(2, 1fr)!important;
    }
    
    .row.five-columns > .row-inner > .row-item:last-child,
    .row.three-columns > .row-inner > .row-item:last-child {
        display: none;
    }
}

/* COLUMNS */

.columns-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap);
}

.column {
    background-color: var(--pale);
    padding: var(--gap);

    display: grid;
    grid-template-columns: 125px 1fr;
    grid-gap: var(--gap);
    align-items: center;
    
    color: black;
    text-decoration: none;
}

.column:hover .column-title {
    opacity: var(--opacity);
}

.column-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: var(--pale-accent);
}

.column-title {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    font-size: 22px;
    transition: all 0.2s;
}

.column-name {
    font-family: var(--sans);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 0;
}

.column-has-quote {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.column-has-quote .column-title {
    font-family: var(--font);
    font-size: 20px;
    margin-top: var(--gap);
    font-style: italic;
}

@media all and (max-width: 875px) {
    .column-has-quote {
        grid-column: span 2;
        display: grid;
        text-align: left;
    }
    .columns-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 575px) {
    .columns-inner {
        display: block;
    }
    .column {
        margin-bottom: var(--gap);
    }
    .column:nth-child(n + 4) {
        display: none;
    }
    .column:last-child {
        margin-bottom: 0;
    }
}

/* TWO COLUMNS */

.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap);
}

.two-columns.large-on-left .tc-left {
    grid-area: 1 / 2 / 2 / 3;
}
.two-columns.large-on-left .tc-right {
    grid-area: 1 / 1 / 2 / 2;
}

.tc-left-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap);
    align-items: center;
    margin-bottom: var(--gap);
    
    color: black;
    text-decoration: none;
}

.tc-left-article:hover .tc-left-title {
    opacity: var(--opacity);
}

.tc-left-article:last-child {
    margin-bottom: 0;
}

.tc-left-title {
    margin: 0;
    margin-bottom: var(--gap);
    padding: 0;
    font-size: 24px;
    transition: all 0.2s;
}

.tc-right {
    color: black;
    text-decoration: none;
}

.tc-right:hover .tc-right-title {
    opacity: var(--opacity);
}

.tc-right-title {
    margin: var(--gap) 0;
    padding: 0;
    transition: all 0.2s;
}

@media all and (max-width: 950px) {
    .two-columns {
        display: block;
    }
    .tc-left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--gap);
        margin-bottom: var(--gap);
    }
    .tc-left-title {
        margin: 0;
        font-size: 20px;
    }
    .tc-left-article {
        margin: 0;
    }
    .tc-left .article-meta {
        margin-top: var(--small-gap);
    }
    .tc-left-article:last-child {
        display: none;
    }
    .tc-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--gap);
        align-items: center;
        margin-bottom: var(--gap);
    }
    .tc-right-title {
        margin-top: 0;
    }
}

@media all and (max-width: 750px) {
    .tc-left {
        display: block;
    }
    .tc-right {
        display: none;
    }
    .tc-left-article:first-child,
    .tc-left-article:nth-child(2) {
        margin-bottom: var(--gap);
    }
    .tc-left-article:last-child {
        display: grid;
    }
}