<!DOCTYPE html>
<html style="background: white;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call to Action Block</title>
    <link rel="stylesheet" href="../../blocks/cta.css">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../../assets/icons/load.css">
    <link rel="stylesheet" href="https://use.typekit.net/erm4tbu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style="max-width:600px;margin:0 auto;margin-top:200px">
    
    <div class="call-to-action donation-cta">
        <h2 class="cta-title">Donate to help our student-run newsroom create professional-level journalism.</h2>
        <h2 class="cta-title">The [Jacket's] work rose to a level you would ... expect professional journalists to do.</h2>
    </div>

</body>
</html>