<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berkeley High Jacket - The Voice of the Students</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <iframe style="border:none;width:100vw;height:88px;overflow:hidden;pointer-events:none;" src="https://bhsjacket.local"></iframe>

    <section class="glance">
        <article class="glance-item">
            <a href="">
                <img src="https://i.picsum.photos/id/830/200/200.jpg">
                <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
            </a>
        </article>
        <article class="glance-item">
            <a href="">
                <img src="https://i.picsum.photos/id/830/200/200.jpg">
                <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
            </a>
        </article>
        <article class="glance-item">
            <a href="">
                <img src="https://i.picsum.photos/id/830/200/200.jpg">
                <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
            </a>
        </article>
        <div class="glance-item">
            <a href="">
                <h2>COVID-19 Statistics</h2>
                
            </a>
        </div>
    </section>
</body>
</html>