<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Row Design</title>

    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../../css/front-page.css">
    <link rel="stylesheet" href="https://use.typekit.net/erm4tbu.css">

    <style>html{background-color:white!important}</style>
</head>
<body id="front-page">

    <section class="row no-border">

        <h2 class="section-header">Features</h2>

        <div class="inner grid one-one-one-one borders double-gap">

            <a class="grid row-item" href="">

                <article class="grid">

                    <img src="https://picsum.photos/600/400">
                    <span class="article-category">Features</span>
                    <h2 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing</h2>
                    <p class="article-excerpt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae commodi in distinctio! Necessitatibus est iure et dolor tempore at sunt.</p>

                </article>

            </a>

            <a class="grid row-item" href="">

                <article class="grid">

                    <img src="https://picsum.photos/600/400?a">
                    <span class="article-category">News</span>
                    <h2 class="article-title">Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="article-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempora eos architecto sint! Sit, veritatis deserunt? Iusto nemo laboriosam eos dicta accusantium.</p>

                </article>

            </a>

            <a class="grid row-item" href="">

                <article class="grid">

                    <img src="https://picsum.photos/600/400?b">
                    <span class="article-category">Opinion</span>
                    <h2 class="article-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis corrupti dignissimos distinctio.</h2>
                    <p class="article-excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, eos!</p>

                </article>

            </a>

            <a class="grid row-item" href="">

                <article class="grid">

                    <img src="https://picsum.photos/600/400?c">
                    <span class="article-category">Features</span>
                    <h2 class="article-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h2>
                    <p class="article-excerpt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sit debitis quisquam dolore odit quis.</p>

                </article>

            </a>

        </div>

    </section>
    
</body>
</html>