/* CONTAINER */

#single {
    padding: 0 var(--gap);
    max-width: var(--normal);
    margin: 50px auto 0 auto;

}





.article-header {
    .column-photo {
        max-width: 130px;
        border-radius: 50%;
        border-bottom-left-radius: 0;
        margin-bottom: 20px;
    }
}

.article-content {
    font-size: 17px;
    line-height: 1.5em;

    > p:last-child:after {
        content: "◆";
        color: var(--accent);
        position: absolute;
        margin-left: 8px;
        margin-top: -1px;
    }
}

#single img {
    max-width: 100%;
}

/* HEADLINE */

.headline > {
    h1 {
        font-family: var(--display);
        font-weight: normal;
        line-height: 1.1em;
        font-size: 40px;
        margin: 0;
    }

    .subheadline {
        font-family: var(--subheadline);
        padding: 0;
        margin: 15px 0 23px 0;
        font-size: 18.5px;
        line-height: 1.4em;
        color: var(--dark-gray);
    }
}

/* SUBHEADLINE */

/* SECTION/CATEGORY */

.article-section {
    font-family: var(--sans);
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: var(--gap);
    display: block;
    width: fit-content;
    transition: all 0.2s;

    &:hover {
        color: var(--accent);
    }
}

/* ARTICLE META */

.article-meta {
    margin-bottom: 40px!important;
    padding-top: 20px;

    .meta-top {
        display: flex;
        align-items: center;
    }

    .avatars {
        > img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: solid 2.5px white;
            margin-left: -2.5px;
            display: block;

            &:not(:first-of-type) {
                margin-left: -20px;
            }
        }

        margin-right: 10px;
    }

    .byline {
        font-family: var(--sans);
        margin: 0;

        > a {
            color: black;
            font-family: var(--sans);
            box-shadow: none !important;
            text-decoration: underline !important;
            text-decoration-color: var(--gray) !important;
        }
    }

    .meta-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--gap);
        margin-top: 10px;
        align-items: center;
    }

    .meta-bottom-left > time {
        font-family: var(--sans);
    }

    .meta-bottom-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > a {
            color: black;
            display: block;
            margin-left: 10px;
            background-color: #e7e7e7;
            padding: 6.5px;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: all 0.2s;

            &:hover {
                background-color: #d1d1d1;
            }
        }
    }
}

/* COMPACT ARTICLE META */

.compact-article-meta {
    display: flex;
    align-items: center;
    padding: var(--gap) 0;

    .byline {
        display: flex;
        align-items: center;

        .avatars {
            display: inline-block;
            margin-right: 5px;
        }

        img {
            width: 30px;
            border-radius: 100%;
            border: 3px solid white;
            vertical-align: middle;
            display: inline-block;

            &:not(:first-child) {
                margin-left: -20px;
                transition: all 0.2s;
            }
        }

        .byline-authors {
            font-family: var(--sans);

            a {
                font-family: var(--sans);
                text-decoration: underline;
                text-decoration-color: #999999;
                color: black;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .post-date {
        font-family: var(--sans);
        margin-left: auto;
    }
}

/* FEATURED IMAGE */

.featured-image {
    width: 100%;
    height: auto;
    display: block;
}

.featured-image-outer {
    margin-bottom: var(--double-gap);

    @media all and (min-width: 850px) {
        &.vertical-image {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: var(--gap);
            align-items: flex-end;
    
            .caption-group {
                display: block;
                
                .caption-credit {
                    margin-top: 10px;
                    margin-bottom: -1px;
                    text-align: left;
                }
            }
        }
    }
}

/* AUTHOR BOX */

.author-boxes {
    margin-top: var(--gap);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap);
    border: solid 1px var(--light);
    padding: var(--gap);
}

.author-box {
    color: black;
    text-decoration: none;
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: var(--gap);
    align-items: center;

    &:hover .author-box-name {
        opacity: var(--opacity);
    }
}

.author-box-name,
.author-box-position {
    font-family: var(--sans);
    margin: 0;
    font-weight: normal;
    line-height: 1;
    padding: 0;
}

.author-box-name {
    font-size: 17px;
    transition: all 0.2s;
}

.author-box-position {
    font-size: 15px;
    color: var(--gray);
}

.author-box img {
    width: 100%;
}

/* RESPONSIVE */
@media all and (max-width: 750px) {
    .article-header {
        .article-section {
            font-size: 16px;
        }
    }

    .headline {
        > h1 {
            font-size: 36px;
        }

        .subheadline {
            font-size: 18px;
        }
    }

    #single {
        margin-top: var(--gap);
    }
}
