/* 
align-center
align-wide
align-wider
align-full
align-right
align-left
*/

.image-outer {
    margin: var(--double-gap) 0;

    @media all and (min-width: 850px) {
        &.align-center.vertical-image {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: var(--gap);
            align-items: flex-end;
    
            .caption-group {
                display: block;
                margin: 0;
                
                .caption-credit {
                    margin-top: 10px;
                    margin-bottom: -1px;
                    text-align: left;
                }
            }
        }
    }

    > .image {
        display: block;
        margin: 0;
        width: 100%;
    }
}

.align-full {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .caption-group {
        @media all and (min-width: 1000px) {
            position: absolute;
            display: block;
            width: calc((100vw - var(--normal)) / 2 - var(--gap) * 3);

            .caption-content, .caption-credit {
                max-width: 300px;
                margin-left: auto;
                text-align: left;
                margin-top: calc( var(--gap) / 2 );
            }
        }
    }
}

.align-wide {
    max-width: var(--wide);
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.align-wider {
    max-width: var(--width);
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.image-outer {
    &.align-full > .caption-group,
    &.align-wide > .caption-group,
    &.align-wider > .caption-group {
        padding: 0 15px;
    }

    &.align-left {
        float: left;
        clear: left;
        margin-left: calc((40% + var(--gap) * 1.5) * -1);
    }

    &.align-right {
        float: right;
        clear: right;
        margin-right: calc((40% + var(--gap) * 1.5) * -1);
    }

    &.align-left,
    &.align-right {
        width: 40%;
    }

    &.align-left .image-outer.align-right {
        margin: 0;
    }
}

@media all and (max-width: 1150px) {
    .image-outer {
        &.align-left {
            margin-left: -100px;
            padding: 15px 15px 15px 0;
        }

        &.align-right {
            margin-right: -100px;
            padding: 15px 0 15px 15px;
        }
    }
}

@media all and (max-width: 900px) {
    .image-outer {
        &.align-left {
            margin-left: 0;
        }

        &.align-right {
            margin-right: 0;
        }
    }
}

/* CAPTIONS */

.caption-group {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0 auto;
    max-width: var(--normal);
    margin-top: 5px;

    .caption-content,
    .caption-credit {
        margin: 0;
    }
    
    .caption-content {
        line-height: 1.25em;
        font-family: var(--font);
        font-size: 14px;
        color: var(--gray);
    }
    
    .caption-credit {
        margin-top: 1px;
        text-align: right;
        font-family: var(--sans);
        color: var(--gray);
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1em;
    }
}
