.navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    a {
        color: black;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: var(--accent);
        }
    }

    .next-page {
        grid-column: 2;
        text-align: right;
    }

    .previous-page {
        grid-column: 1;
        text-align: left;
    }
}