.sports-scores {
    height: calc(100% - 30px);
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sports-scores-top {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

.sports-scores-top > span {
    font-family: var(--sans);
}


.sports-scores-top i {
    font-size: 18px;
    margin: 0 10px;
}
.sports-scores[data-winner="bhs"] .sports-scores-top i { color: var(--pale-green); }
.sports-scores[data-winner="rival"] .sports-scores-top i { color: var(--red); }
.sports-scores[data-winner="tie"] .sports-scores-top i { color: var(--yellow); }

.fa-no-icon:before {
    content: '—';
    font-family: inherit;
}
.fa-no-icon { font-family: inherit; }

.rival-abbr,
.bhs-abbr {
    font-family: var(--display-alt);
    border: none;
    padding: 0;
    margin: 0;
    font-size: 42px;
    position: relative;
    line-height: 1em;
    padding-left: 7px;
}

.bhs-abbr:before,
.rival-abbr:before {
    content: '';
    background: linear-gradient(180deg, yellow 33.5%, red 33.5%, red 66.5%, black 66.5%);
    width: 4px;
    height: 30px;
    display: block;
    position: absolute;
    left: 0;
    top: 6.4px;
}

.sports-scores .scores .rival-score,
.sports-scores .scores .bhs-score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap);
    align-items: center;
}

.rival-score-number,
.bhs-score-number {
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 42px;
    line-height: 1em;
}

.sports-scores[data-winner="rival"] .bhs-score-number,
.sports-scores[data-winner="bhs"] .rival-score-number {
    color: var(--red);
}

.sports-scores[data-winner="rival"] .rival-score-number,
.sports-scores[data-winner="bhs"] .bhs-score-number {
    color: var(--green);
}

.sports-scores[data-winner="tie"] .rival-score-number,
.sports-scores[data-winner="tie"] .bhs-score-number {
    color: var(--gray);
}