/* SETUP */
#front-page {
    max-width: 1140px;
    margin: 0 auto;
    padding: var(--gap);

    display: grid;
    grid-gap: var(--double-gap);

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .ad-container {
        border: solid 1px var(--light);
        margin: 0;
        width: unset!important;
    }

    .align-bottom { align-items: end; }
    .align-middle { align-items: center; }

    section {
        &:not(:last-of-type):not(.no-border) {
            @include gridBorder('bottom', 'double', var(--gray), 'double');
        }

        &.no-border {
            margin-bottom: calc( var(--gap) * -1 );
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(4) {
            .columnist-stack {
                .item {
                    @include gridBorder('right', 'double');
                }
            }
        }
    }
}

.article-category {
    font-family: var(--sans);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: var(--gray);
    line-height: 1em;
}

.article-title {
    transition: opacity 0.2s;
    padding: 0;
}

.article-meta {
    font-size: 15px;
    margin-bottom: var(--gap);
    display: block;
    font-family: var(--sans);

    > a {
        font-family: inherit;
        font-size: inherit;
        color: black;
        text-decoration: none;

        &:hover {
            color: var(--accent);
        }
    }
}

.article-excerpt {
    margin: 0;
    font-size: 16.5px;
    color: var(--dark-gray);
}

/* SECTION HEADER */

.section-header {
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 1em;
    white-space: nowrap;

    #front-page > & {
        margin-bottom: -16px;
    }

    &:after {
        content: "";
        width: 100%;
        height: 2px;
        margin-left: 6px;
        background-color: var(--accent);
        margin-top: auto;
        margin-bottom: 3px;
    }

    &.black-line:after {
        background-color: black;
    }

    @media all and (max-width: 600px) {
        white-space: normal;
    }
    
    @media all and (max-width: 400px) {
        &:after {
            content: none!important;
        }
    }

    &.alt {
        border-top: solid 2px var(--accent);
        padding-top: 6px;

        &:after {
            display: none;
        }
    }
}

/* END GRIDS */

/* STANDARD */
.standard {
    .article-title {
        font-family: var(--display);
        font-weight: normal;
        padding: 0;
        margin: 0;
        line-height: 1.2em;
    }
    .article-info {
        display: grid;
        grid-gap: 12.5px;
        color: black;
        text-decoration: none;
        height: fit-content;
    }

    @media all and (max-width: 950px) {
        grid-template-columns: 1fr!important;
    }

    @media all and (min-width: 950px) {
        &.reverse {
            grid-template-columns: 2fr 1fr;
            .article-info {
                grid-column: 2;
                grid-row: 1;
            }
            & > a {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }

    &:hover .article-title {
        opacity: var(--opacity);
    }
}

@media all and (max-width: 1000px) {
    
}

/* STACK */

.stack {
    .stack-item {
        grid-gap: 10px;
        height: fit-content;

        @include gridBorder('bottom', 'double');

        &:not(:last-child) {
            margin-bottom: var(--double-gap);
        }

        .article-category {
            margin-bottom: -5px;
        }

        .article-title {
            font-family: var(--display);
            font-weight: normal;
            font-size: 19px;
            margin: 0;
        }
        
        &:hover .article-title {
            opacity: var(--opacity);
        }
    }
}

/* COLUMNIST STACK */

.columnist-stack {
    grid-gap: var(--double-gap);
    height: fit-content;

    .item {
        @include gridBorder('bottom', 'double');

        .avatar, .article-image {
            border-radius: 50%;
            float: right;
            max-width: 55px;
            display: block;
            margin-left: 10px;
        }

        .article-image {
            border-radius: 10px;
            max-width: 35%;
        }

        .column-info {
            position: relative;

            .article-title {
                margin: 0;
                font-size: 19px;
                padding: 0;
                line-height: 1.25em;
            }

            .columnist {
                line-height: 1em;
                color: var(--gray);
                font-size: 17px;
                margin: 0;
                margin-bottom: 4px;
                padding: 0;
            }
        }

        &:hover {
            .article-title {
                opacity: var(--opacity);
            }
        }
    }
}