#search {
    max-width: var(--normal);
    margin: 0 auto;
    padding: var(--gap);

    .search-form {
        .search-result-count {
            font-family: var(--sans);
            font-size: 15px;
            color: var(--gray);
        }

        form {
            display: flex;
            align-items: center;
            border-bottom: solid 1px var(--light);
            transition: border 0.2s;

            input {
                width: 100%;
                border: none;
                outline: none;

                font-family: var(--display);
                font-size: 38px;

                cursor: pointer;

                &:focus {
                    cursor: text;
                }
            }

            button {
                width: fit-content;
                background: none;
                padding: 0;
                border: none;
                outline: none;
                cursor: pointer;

                i {
                    font-size: 24px;
                    color: var(--gray);
                }
            }
        }
    }
}