.top-story {
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-gap: var(--gap);

    .top-story__title {
        margin-top: 6px;
        margin-bottom: 10px;
        padding: 0;
        transition: all 0.2s;
        line-height: 1.25em;
    }

    &.reverse {
        grid-template-columns: 275px 1fr;
    
        .dynamic-content {
            grid-row: 1;
        }
    }

    .top-story__left {
        display: grid;
        grid-gap: var(--gap);

        .top-story__left-top {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: var(--gap);
        }

        .top-story__left-bottom {
            display: grid;
            grid-template-columns: 4fr 3fr;
            grid-gap: var(--gap);
            color: black;
            text-decoration: none;
            align-items: center;

            &.the-doug-border {
                padding-top: var(--gap);
                border-top: solid 1px var(--light);
            }

            .slideshow {
                position: relative;
                width: 100%;
                height: auto;
                
                img + img {
                    opacity: 0;
                }

                > img {
                    transition: opacity 0.5s;
                    position: absolute;
                }
            }

            a:hover + a .top-story__title,
            a:hover .top-story__title {
                opacity: var(--opacity);
            }
        }
    }

    .small-item {
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-gap: var(--gap);
        align-items: center;
        color: black;
        text-decoration: none;
        overflow: hidden;
        height: 60px;

        .small-item-title {
            font-family: var(--font);
            font-size: 16px;
            margin: 0;
            padding: 0;
            transition: all 0.2s;
        
            .article-category {
                margin-right: 5px;
            }
        }

        &:hover > .small-item-title {
            opacity: var(--opacity);
        }
    }

    @media all and (max-width: 1000px) {
        display: block;

        .top-story__right {
            display: none;
        }
    }
    
    @media all and (max-width: 700px) {
        .top-story__left {
            .top-story__left-top {
                display: none;
            }

            .top-story__left-bottom {
                display: block;
    
                img {
                    margin-bottom: 6px;
                }
    
                .top-story__left-bottom-title {
                    .article-category {
                        display: block;
                        margin-top: 22px;
                    }
                }
            }
        }
    }
}